<div class="profile">
  <div class='container'>
    <div class='row'>
      <div class='profile__header' *ngIf="!loading">
        <div class="name">
          <div class="ico">
            <img src="../../../assets/images/blip.png" alt="">
          </div>
          <div class="infos">
            <h3 class="name"> {{bot.name}} </h3>
            <span class="id-bot">Id: {{bot.shortName}} </span>
          </div>
        </div>

        <div class="date">
          <p> Created at {{ bot.created | date: 'dd/MM/YYYY' }} </p>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="profile__cards">
          <div class="profile__card small">
            <span> Region and idiom </span>
            <p> EUA- English (EN) </p>
            <br>
            <span> Timerzone </span>
            <p> (UTC - 03:00) Brasília </p>
          </div>

          <div class="profile__card big">
            <div class="ico">
              <img src="../../../assets/images/user.png" alt="">
            </div>
            <div class="infos">
              <h3> {{ bot.analytics.user.actived }} </h3>
              <p> Usuários ativos </p>
            </div>
          </div>

          <div class="profile__card medium-1">
            <div class="ico bg-green">
              <img src="../../../assets/images/union.png" alt="">
            </div>
            <div class="infos">
              <h3> {{ bot.analytics.message.received.toLocaleString(bot.culture) }} </h3>
              <p> Mensagens recebidas </p>
            </div>
          </div>

          <div class="profile__card medium-2">
            <div class="ico bg-blue">
              <img src="../../../assets/images/sent.png" alt="">
            </div>
            <div class="infos">
              <h3> {{ bot.analytics.message.sent.toLocaleString(bot.culture) }} </h3>
              <p> Mensagens enviadas </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="profile__update text-center">
          <img src="../../../assets/images/plano.png" alt="Decoração">
          <p> Status account  </p>
          <h3 class="mt-0"> Free </h3>
          <button mat-button class="btn btn-primary" color="primary"> Update account </button>
        </div>
      </div>
    </div>
  </div>
</div>
