.mat-primary {
  background: $primary;
  border-radius: 8px;
  font-size: .75rem;
  color: #fff;
  margin: 0 4px;
}

.mat-add-button {
  position: fixed;
  right: 24px;
  bottom: 24px;
  border-radius: 50px;
}
